<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flask App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Flask App</title>
  <style>
    #container{
      max-width: 720px;
      margin: 0 auto;
    }
    #banner{
      height: 360px;
      width: 100%;
      object-fit: cover;
    }  
  </style>
</head>
<body>
  <div class="container">
       <h1 class="text-center mt-2 mb-4">DeveloperX Career Page</h1>
        <img class="img-fluid" id="banner" src="https://1a08f3c7-8ad5-497e-b79b-503e99e41a6f-00-1vv59j6so2ug3.spock.replit.dev/static/banner.jpg">
      <h2 class="text-center mt-2 mb-4">About DeveloperX</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur facilis nemo accusamus corporis officiis maxime corrupti placeat eligendi, quae voluptate sit quidem! Odit totam labore libero est esse veniam amet?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur facilis nemo accusamus corporis officiis maxime corrupti placeat eligendi, quae voluptate sit quidem! Odit totam labore libero est esse veniam amet?    
        </p>
        <h2 class="text-center mt-2 mb-4">Open Positions</h2>
        <h2 class="text-center mt-2 mb-4">To do</h2>
        <div>
              {% for job in jobs %}
               {% include 'jobitem.html' %}
              {% endfor %}
        </div>
    <div class="text-center mt-2 mb-4">
      <button class ="btn btn-primary btn-lg text-center"">  Contact Us   </button>
    </div>
    </div>
</body>
</html>